<div class="content" *ngIf="view == 'edit'">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
</div>
<div class="content" *ngIf="view == 'add'">
  <mat-spinner *ngIf="showLoader"></mat-spinner>
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Product information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form" [formGroup]="productsForm" (ngSubmit)="saveProduct(productsForm.value)">
            <div class="file-content">
              <button type="button" mat-raised-button (click)="fileInput.click()">Choose picture</button>
              <input hidden (change)="onFileSelected($event)" #fileInput type="file">
              <span class="file-name">{{selectedFile?.name}}</span>
            </div>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>product name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessage.name">
              <div *ngIf="
                productsForm.get('name')!.hasError(validation.type) && 
                (productsForm.get('name')!.dirty || productsForm.get('name')!.touched)"
              >
                <p style="color: red;">{{validation.message}}</p>
              </div>
            </ng-container>

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Price</mat-label>
              <input type="number" matInput formControlName="price">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessage.price">
              <div *ngIf="
                productsForm.get('price')!.hasError(validation.type) && 
                (productsForm.get('price')!.dirty || productsForm.get('price')!.touched)"
              >
                <p style="color: red;">{{validation.message}}</p>
              </div>
            </ng-container>

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Category</mat-label>
              <input type="text" matInput formControlName="category" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.category_name}}
                  
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <ng-container *ngFor="let validation of validationMessage.category">
              <div *ngIf="
                productsForm.get('category')!.hasError(validation.type) && 
                (productsForm.get('category')!.dirty || productsForm.get('category')!.touched)"
              >
                <p style="color: red;">{{validation.message}}</p>
              </div>
            </ng-container>

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <div>
              <button type="submit" mat-button
                [disabled]="!productsForm.valid">Save</button>

              <button mat-button>Cancel</button>
            </div>
          </form>
        </mat-card-content>
        <!-- <mat-card-actions>
          
        </mat-card-actions> -->
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="" alt="img-product" id="img-product" width="400px" [hidden]="selectedFile == null">
      <img src="assets/img/package.png" alt="" *ngIf="selectedFile == null" width="300px">
    </mat-grid-tile>
  </mat-grid-list>  
</div>
