table {
    width: 100%;
}

#product-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
}

h4{
    font-weight: bold;
}

#edit-icon, #edit-button{
    font-size: 30px;
    width: 30px;
}

#edit-icon{
    position: relative;
    bottom: 5px;
}

#button-add-content{
    float: right;
    margin: 10px;
}