<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" >
    <br>
    <h1>Sign In</h1>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email">
    </mat-form-field>
    <ng-container *ngFor="let validation of validationMessage.email">
        <div *ngIf="
          loginForm.get('email')!.hasError(validation.type) && 
          (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
        >
          <p style="color: red; margin: 0px;">{{validation.message}}</p>
        </div>
    </ng-container>
    <br><br>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>
    <ng-container *ngFor="let validation of validationMessage.password">
        <div *ngIf="
          loginForm.get('password')!.hasError(validation.type) && 
          (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
        >
          <p style="color: red;margin: 0px;">{{validation.message}}</p>
        </div>
    </ng-container>
    <br><br>
    <button type="submit" mat-stroked-button [disabled]="!loginForm.valid">Login</button>
</form>