<div class="content">
    <div class="login-content">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div class="img-above">
                    <h1>Sell your products with us</h1>
                </div>
                <!-- Photo by Aleksandar Pasaric: https://www.pexels.com/photo/photo-of-supermarket-3423860/ -->
                <img src="assets/img/login-banner.jpg" alt="banner" id="login-banner">
            </mat-grid-tile>
            <mat-grid-tile class="login-form-content">
                <form>
                    <br><br><br><br><br><br><br>
                    <h1>Sign In</h1>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="name">
                    </mat-form-field>
                    <br><br>
                    <button mat-stroked-button color="primary">Primary</button>
                </form>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
