
    <div class="login-content">
        <mat-grid-list cols="2" rowHeight="2:2">
            <mat-grid-tile>
                <div class="img-above">
                    <h1>Sell your products with us</h1>
                </div>
                <!-- Photo by Aleksandar Pasaric: https://www.pexels.com/photo/photo-of-supermarket-3423860/ -->
                <img src="assets/img/login-banner.jpg" alt="banner" id="login-banner"> 
            </mat-grid-tile>
            <mat-grid-tile class="login-form-content">
                <div class="formsGroup">
                    <app-get-in *ngIf="!isRegisterActive"></app-get-in>
                    <app-sig-in (onNewUser)="registerNewUser($event)" *ngIf="isRegisterActive"></app-sig-in>
                    <br>
                    <h4 style="color: #fafafa;">Don't have an acount yet? <a (click)="showRegister()">register</a></h4>
                </div>
                
            </mat-grid-tile>
        </mat-grid-list>
    </div>
