@font-face {
    font-family: Roboto;
    src: url(../../../../assets/fonts/roboto/Roboto-Black.ttf) format("truetype");
}

.login-content{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 10px;

    mat-grid-list{
        width: 100%;
        height: 100%;
        background: #1f1f1f !important; 
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        mat-grid-tile{
            background: #1f1f1f !important;
            /* height: 100%; */

            .img-above{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.548);
                text-align: center;
                h1{
                    font-family: 'Roboto';
                    color: #e9e6e6;
                    font-size: 2rem;
                    margin-top: 50%;
                }
            }
        }

        .login-form-content{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            .formsGroup{
                flex-direction: row; 
                width: 100%; 
                text-align: center;
                
                a{
                    color: #5252cc;
                    text-decoration: underline;
                    cursor: pointer;
                }
                
                app-get-in{
                    width: 100%;
                }
            }
           
        }
    }
}

h1{
    font-family: 'Roboto';
    color: #e9e6e6;
    font-size: 1.5rem;
}

#login-banner{
    width: 100%;
    height: 100%;
}
    
mat-spinner{
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 50%;
}